In [1]:
import pandas as pd

In [2]:
file_one = "../raw_data/crime_weather.csv"
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")
file_one_df.head(1)

,Unnamed: 0,index,crime_type,date,Beat,Neigborhood,NPU,lat,lon,type_crime,year,temperature,percentage_rain,rain_indicator
0,0,0,LARCENY-NON VEHICLE,2009-02-28,301.0,Adair Park,V,33.7271,-84.4136,LARCENY,2009,55.47125,0.916667,1

In [3]:
df_2020 = file_one_df.loc[(file_one_df["date"].str.startswith('2020-'))]
df_2020.head(1)

,Unnamed: 0,index,crime_type,date,Beat,Neigborhood,NPU,lat,lon,type_crime,year,temperature,percentage_rain,rain_indicator
83580,83580,83580,LARCENY-FROM VEHICLE,2020-01-31,602.0,Inman Park,N,33.76163,-84.35038,LARCENY,2020,41.913333,0.208333,1

In [5]:
df_2020.to_csv("../raw_data/crime_weather_2020.csv", index=False, header=True)