In [1]:
import sys
sys.path.append("..")
from config import aws_key, aws_secret
from config import mongo_username, mongo_password, mongo_server_name
from config import postgres_server_name, postgres_database, postgres_username, postgres_port, postgres_password

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [3]:
import pandas as pd

In [4]:
db_url = f"postgres://{postgres_username}:{postgres_password}@{postgres_server_name}:{postgres_port}/{postgres_database}"
engine = create_engine(db_url)
conn = engine.connect()
session = Session(bind=engine)

In [5]:
print(engine.table_names())

['hist_weather', 'all_crime']

In [6]:
query = session.query(' * from all_crime')
df = pd.read_sql(query.statement, engine)
df.head()

,Index,crime_type,report_date,Beat,Neigborhood,NPU,lat,lon
0,0,LARCENY-NON VEHICLE,02/28/2009,301,Adair Park,V,33.72710,-84.41360
1,1,LARCENY-NON VEHICLE,02/28/2009,509,Downtown,M,33.76158,-84.38496
2,2,LARCENY-NON VEHICLE,02/28/2009,210,Lenox,B,33.84676,-84.36212
3,3,LARCENY-NON VEHICLE,02/28/2009,204,Berkeley Park,D,33.80448,-84.41348
4,4,LARCENY-NON VEHICLE,02/28/2009,609,Edgewood,O,33.75674,-84.34619

In [ ]:
query = session.query(' * from hist_weather')
df = pd.read_sql(query.statement, engine)
df.head()