In [1]:
import sys
sys.path.append("..")
from config import aws_key, aws_secret
from config import mongo_username, mongo_password, mongo_server_name
from config import postgres_server_name, postgres_database, postgres_username, postgres_port, postgres_password

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [3]:
import pandas as pd

In [4]:
db_url = f"postgres://{postgres_username}:{postgres_password}@{postgres_server_name}:{postgres_port}/{postgres_database}"
engine = create_engine(db_url)
conn = engine.connect()
session = Session(bind=engine)

In [8]:
print(db_url)

postgres://hptyhxfizpztox:22c525b8928c5f493faa9c80aeb21696e723b9dc6f720addf6ac21c38254c491@ec2-34-197-212-240.compute-1.amazonaws.com:5432/d5h3gec0nedc8g

In [5]:
print(engine.table_names())

['all_crime', 'hist_weather']

In [9]:
query = session.query(' * from all_crime')
df = pd.read_sql(query.statement, engine)
df.head()

,Index,crime_type,report_date,Beat,Neigborhood,NPU,lat,lon
0,0,LARCENY-NON VEHICLE,02/28/2009,301.0,Adair Park,V,33.72710,-84.41360
1,1,LARCENY-NON VEHICLE,02/28/2009,509.0,Downtown,M,33.76158,-84.38496
2,2,LARCENY-NON VEHICLE,02/28/2009,210.0,Lenox,B,33.84676,-84.36212
3,3,LARCENY-NON VEHICLE,02/28/2009,204.0,Berkeley Park,D,33.80448,-84.41348
4,4,LARCENY-NON VEHICLE,02/28/2009,609.0,Edgewood,O,33.75674,-84.34619

In [10]:
query = session.query(' * from hist_weather')
df = pd.read_sql(query.statement, engine)
df.head()

,id,date,date_iso,weather_id,weather_group,weather,weather_icon,temperature,temp_min,temp_max,feels_like,pressure,humidity,wind_speed,cloud_percentage,date_simple
0,0,1230768000,2009-01-01 00:00:00 +0000 UTC,800,Clear,sky is clear,01n,39.78,39.20,41.12,25.48,1023,40,16.11,1,1/1/09
1,1,1230771600,2009-01-01 01:00:00 +0000 UTC,800,Clear,sky is clear,01n,39.02,37.40,41.49,30.45,1024,40,5.82,1,1/1/09
2,2,1230775200,2009-01-01 02:00:00 +0000 UTC,800,Clear,sky is clear,01n,37.81,37.04,40.35,28.63,1025,42,6.93,1,1/1/09
3,3,1230778800,2009-01-01 03:00:00 +0000 UTC,800,Clear,sky is clear,01n,35.82,35.55,35.96,27.25,1025,45,5.82,1,1/1/09
4,4,1230782400,2009-01-01 04:00:00 +0000 UTC,800,Clear,sky is clear,01n,34.59,33.80,35.52,27.39,1025,47,3.36,1,1/1/09