In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import postgres_server_name, postgres_database, postgres_username, postgres_port, postgres_password

In [2]:
DATABASES = {
    'production':{
        'NAME': postgres_database,
        'USER': postgres_username,
        'PASSWORD': postgres_password,
        'HOST': postgres_server_name,
        'PORT': postgres_port,
    },
}

In [3]:
db = DATABASES['production']

In [4]:
engine_string = "postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}".format(
    user = db['USER'],
    password = db['PASSWORD'],
    host = db['HOST'],
    port = db['PORT'],
    database = db['NAME'],
)

In [5]:
engine = create_engine(engine_string)

In [6]:
df = pd.read_sql_table('hist_weather',engine)

In [47]:
print(db)

{'NAME': 'd6hi5on1mbqdke', 'USER': 'revuxevvjssnlm', 'PASSWORD': '058424dfd24e5f08652d244d6dbc5fdf286c6b22b9bc825406352c44623985ef', 'HOST': 'ec2-52-70-15-120.compute-1.amazonaws.com', 'PORT': '5432'}

In [7]:
df.head()

,id,date,date_iso,weather_id,weather_group,weather,weather_icon,temperature,temp_min,temp_max,feels_like,pressure,humidity,wind_speed,cloud_percentage,date_simple
0,0,1230768000,2009-01-01 00:00:00 +0000 UTC,800,Clear,sky is clear,01n,39.78,39.20,41.12,25.48,1023,40,16.11,1,1/1/09
1,1,1230771600,2009-01-01 01:00:00 +0000 UTC,800,Clear,sky is clear,01n,39.02,37.40,41.49,30.45,1024,40,5.82,1,1/1/09
2,2,1230775200,2009-01-01 02:00:00 +0000 UTC,800,Clear,sky is clear,01n,37.81,37.04,40.35,28.63,1025,42,6.93,1,1/1/09
3,3,1230778800,2009-01-01 03:00:00 +0000 UTC,800,Clear,sky is clear,01n,35.82,35.55,35.96,27.25,1025,45,5.82,1,1/1/09
4,4,1230782400,2009-01-01 04:00:00 +0000 UTC,800,Clear,sky is clear,01n,34.59,33.80,35.52,27.39,1025,47,3.36,1,1/1/09