In [15]:
import sys
sys.path.append("..")
# from config import aws_key, aws_secret
from config import mongo_username, mongo_password, mongo_server_name
# from config import postgres_server_name, postgres_database, postgres_username, postgres_port, postgres_password

In [28]:
# Dependencies
import os
import json
import pandas as pd
import pymongo
from pymongo import MongoClient

from config import mongo_server_name 
from config import mongo_username
from config import mongo_password

In [17]:
with open('../raw_data/atl_weather.json') as f:
  data = json.load(f)

In [38]:
print(data[52500])

{'city_name': 'Atlanta', 'lat': 33.748995, 'lon': -84.387982, 'main': {'temp': 54.45, 'temp_min': 53.6, 'temp_max': 55.04, 'feels_like': 52.57, 'pressure': 1019, 'humidity': 93}, 'wind': {'speed': 4.7, 'deg': 160}, 'rain': {'1h': 0.3}, 'clouds': {'all': 90}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}], 'dt': 1419768000, 'dt_iso': '2014-12-28 12:00:00 +0000 UTC', 'timezone': -18000}

In [19]:
# Get City Name
city_name = data[0]["city_name"]
city_name

'Atlanta'

In [20]:
# Get Lat Long
lng = data[0]["lon"]
lat = data[0]["lat"]

print(f'{lat}, {lng}')

33.748995, -84.387982

In [32]:
len(data)

98592

In [34]:
clean_dict_list = []
for x in range(len(data)):
    date_iso = data[x]["dt_iso"]
    weather_id = data[x]["weather"][0]["id"]
    weather_group = data[x]["weather"][0]["main"]
    weather = data[x]["weather"][0]["description"]
    weather_icon = data[x]["weather"][0]["icon"]
    temperature = data[x]["main"]["temp"]
    temp_min = data[x]["main"]["temp_min"]
    temp_max = data[x]["main"]["temp_max"]
    feels_like = data[x]["main"]["feels_like"]
    pressure = data[x]["main"]["pressure"]
    humidity = data[x]["main"]["humidity"]
    wind_speed = data[x]["wind"]["speed"]
    cloud_percentage = data[x]["clouds"]["all"]
    
    weather_dict = {
        "date_iso": date_iso,
        "weather_id": weather_id,
        "weather_group": weather_group,
        "weather": weather,
        "weather_icon": weather_icon,
        "temperature": temperature,
        "temp_min": temp_min,
        "temp_max": temp_max,
        "feels_like": feels_like,
        "pressure": pressure,
        "humidity": humidity,
        "wind_speed": wind_speed,
        "cloud_percentage": cloud_percentage
    }
    
    clean_dict_list.append(weather_dict)
    
#print(clean_dict_list)

In [35]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Declare the database
db = client.the_rotten_tomatoes

# Declare the collection
collection = db.weather

In [36]:
for weather_object in clean_dict_list:
    collection.insert_one(weather_object)

In [24]:
results = collection.find()
for result in results:
    print(result)

{'_id': ObjectId('5e9aef4d02a4d00d12e8931d'), 'date_iso': '2009-01-01 00:00:00 +0000 UTC', 'weather_id': 800, 'weather_group': 'Clear', 'weather': 'sky is clear', 'weather_icon': '01n', 'temperature': 39.78, 'temp_min': 39.2, 'temp_max': 41.12, 'feels_like': 25.48, 'pressure': 1023, 'humidity': 40, 'wind_speed': 16.11, 'cloud_percentage': 1}
{'_id': ObjectId('5e9aef4d02a4d00d12e8931e'), 'date_iso': '2009-01-01 01:00:00 +0000 UTC', 'weather_id': 800, 'weather_group': 'Clear', 'weather': 'sky is clear', 'weather_icon': '01n', 'temperature': 39.02, 'temp_min': 37.4, 'temp_max': 41.49, 'feels_like': 30.45, 'pressure': 1024, 'humidity': 40, 'wind_speed': 5.82, 'cloud_percentage': 1}
{'_id': ObjectId('5e9aef4d02a4d00d12e8931f'), 'date_iso': '2009-01-01 02:00:00 +0000 UTC', 'weather_id': 800, 'weather_group': 'Clear', 'weather': 'sky is clear', 'weather_icon': '01n', 'temperature': 37.81, 'temp_min': 37.04, 'temp_max': 40.35, 'feels_like': 28.63, 'pressure': 1025, 'humidity': 42, 'wind_speed': 6.93, 'cloud_percentage': 1}
{'_id': ObjectId('5e9aef4d02a4d00d12e89320'), 'date_iso': '2009-01-01 03:00:00 +0000 UTC', 'weather_id': 800, 'weather_group': 'Clear', 'weather': 'sky is clear', 'weather_icon': '01n', 'temperature': 35.82, 'temp_min': 35.55, 'temp_max': 35.96, 'feels_like': 27.25, 'pressure': 1025, 'humidity': 45, 'wind_speed': 5.82, 'cloud_percentage': 1}
{'_id': ObjectId('5e9aef4d02a4d00d12e89321'), 'date_iso': '2009-01-01 04:00:00 +0000 UTC', 'weather_id': 800, 'weather_group': 'Clear', 'weather': 'sky is clear', 'weather_icon': '01n', 'temperature': 34.59, 'temp_min': 33.8, 'temp_max': 35.52, 'feels_like': 27.39, 'pressure': 1025, 'humidity': 47, 'wind_speed': 3.36, 'cloud_percentage': 1}

In [30]:
client = MongoClient()

#point the client at mongo URI
client = MongoClient('localhost', 27017)

#select database
db = client['the_rotten_tomatoes']

#select the collection within the database
atl_weather = db.weather

#convert entire collection to Pandas dataframe
atl_weather_df = pd.DataFrame(list(atl_weather.find()))

atl_weather_df

,_id,date_iso,weather_id,weather_group,weather,weather_icon,temperature,temp_min,temp_max,feels_like,pressure,humidity,wind_speed,cloud_percentage
0,5e9aef4d02a4d00d12e8931d,2009-01-01 00:00:00 +0000 UTC,800,Clear,sky is clear,01n,39.78,39.20,41.12,25.48,1023,40,16.11,1
1,5e9aef4d02a4d00d12e8931e,2009-01-01 01:00:00 +0000 UTC,800,Clear,sky is clear,01n,39.02,37.40,41.49,30.45,1024,40,5.82,1
2,5e9aef4d02a4d00d12e8931f,2009-01-01 02:00:00 +0000 UTC,800,Clear,sky is clear,01n,37.81,37.04,40.35,28.63,1025,42,6.93,1
3,5e9aef4d02a4d00d12e89320,2009-01-01 03:00:00 +0000 UTC,800,Clear,sky is clear,01n,35.82,35.55,35.96,27.25,1025,45,5.82,1
4,5e9aef4d02a4d00d12e89321,2009-01-01 04:00:00 +0000 UTC,800,Clear,sky is clear,01n,34.59,33.80,35.52,27.39,1025,47,3.36,1

In [39]:
atl_weather_df.dtypes

_id                  object
date_iso             object
weather_id            int64
weather_group        object
weather              object
weather_icon         object
temperature         float64
temp_min            float64
temp_max            float64
feels_like          float64
pressure              int64
humidity              int64
wind_speed          float64
cloud_percentage      int64
dtype: object

In [31]:
# Empty table
collection.remove({})

/Users/ethan_martin95/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

{'n': 5, 'ok': 1.0}

In [45]:
# conn = 'mongodb://cluster0-eyrv8.mongodb.net:27017'

In [8]:
#conn = f'mongodb://{mongo_server_name}'
#client = pymongo.MongoClient(conn)

In [25]:
#conn = f'mongodb://{mongo_username}:{mongo_password}@{mongo_server_name}:27017'
#client = pymongo.MongoClient(conn)

#conn

In [27]:
#conn = f'mongodb://{mongo_username}:{mongo_password}@{mongo_server_name}:27017/?retryWrites=true&w=majority'
#client = pymongo.MongoClient(conn)

In [ ]:
#conn = 'mongodb+srv://TheRottenApples:gaTech2019@cluster0-eyrv8.mongodb.net/test?retryWrites=true&w=majority'
#client = pymongo.MongoClient(conn)

In [28]:
#db = client.the_rotten_tomatoes
#collection = db.weather